.u-section-1 .u-sheet-1 {
  min-height: 3442px;
}

.u-section-1 .u-image-1 {
  width: 487px;
  height: 300px;
  margin: 50px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: "Courier New", monospace;
  margin: 43px 91px 60px 123px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 14px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4972px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 209px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 33px;
  }
}